*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* Teacher board */
.teacherDashboard{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background-color: rgb(235, 234, 234);
    gap: 150px;
    width: 100vw;
}

/* this is the left profileCard */
.profilePic{
    border: 1px solid rgb(181, 181, 192);
    background-color: #fffdfd;
    border-radius: 10px ;
    display: inline-block;
    padding: 30px 20px 50px;
    text-align: center;
    height: 420px;
    margin-top: 100px;
}

.teacherImg{
    margin-bottom: 30px;
    height: 150px;
}

.profileSettings{
    border-width: 2px;
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileSettingBtn{
    width: 150px;
    border: #43C0F6 2px solid;
    background-color: white;
    border-radius: 6px;
    padding: 5px;
    font-size: 12px;
    font-weight: bolder;
    /* font-weight: 700; */
    color: #43C0F6;
    margin: 10px;
    box-shadow: 1px 1px 1px #43C0F6;
    transition: all 0.3s ease;
   
}

.profileSettingBtn:hover{
    opacity: 0.5;
    font-weight: 700;
    cursor: pointer;
    transform: scale(1.1);
}

/* Right side - teacher profile information */
.profileInfo{
    border: 1px solid rgb(181, 181, 192);
    border-radius: 10px;
    padding: 50px;
    color: #707070;
    height: 450px;
    width: 600px;
    background-color: white;
    margin-top: 100px;
    margin-bottom: 80px;
    text-align: center;
    font-size: 20px;
}

.teacherInfo{
    margin-top: 50px;
}
.teacherInfo > h3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
    color: #A5A5A5;
    font-size: 18px;
}

.teacherInfo >h3> span{
    color: #707070;
}

/* Yellow and pink btns */
.projectDashboardBtn{
    display: flex;
    justify-content: flex-end;
}
.yellowBtn{
    margin: 30px;
    color: white;
    background-color: rgb(240, 201, 95);
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: 5px 5px 5px grey; /*probably can make buttons box shadow generic*/
    transition: all 0.3s ease-in-out;

}
.yellowBtn:hover, .pinkBtn:hover{
    opacity: 0.5;
    transform: scale(1.1);
    cursor: pointer;
}

.pinkBtn{
    margin: 30px 0px;
    color: white;
    background-color: rgb(226, 25, 149);
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    box-shadow: 5px 5px 5px grey;
    transition: all 0.3s ease;
}