.container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto auto;
  gap: 30px;
  padding: 30px;
  background-color: #DAF2FE;
  border-radius: 30px;
  height: 90%;
  margin: auto;
}