.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 4vh;
    /* height: 30px; */
    /* z-index: 102; */
    /* position: absolute; */
}

.footerName{
    font-size:1rem;
    color: #707070;
    /* border : 1px black solid; */
    display: flex;
    justify-content: center;
    width: 100vw;
}