.footer{
    padding: 80px 30px;
    /* border: 1px solid black; */
    background-color: #B2E4FA;
    display: flex;
    justify-content: center;
    height: 380px;
}

.footer >div{
    color: #707070;
    margin-right: 30px;
    width: 250px;
    /* border: 1px solid black; */
    /* display: flex; */
    
}

/* .footer-title > ul{
    
    margin-top: 2px;
    line-height: 1.5;
    
} */

.footer-title{
    margin-bottom: 10px;
    font-family: "Nunito";
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.footer-title p {
    margin: 8px 0px;
    font-size: 15px;
    /* font-weight: bold; */
    /* width: 250px; */
    padding-top: 20px;
}

.footerLinks{
    font-family: "Open Sans";
    font-size: 15px;
    font-weight: bold;
    color: #707070;
}