.circleGreen, .circleWhite {
  display: block;
  width: 25px;
  height: 25px;
  border: 1px solid #888;
  text-align: center;
  border-radius: 15px;
  margin: 10px;
}
.circleGreen {
  background-color: #98ECCB;
}
.circleWhite {
  background-color: white;
}
.projectsDiv {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}