.pics {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pics p {
  padding: 0;
  margin: 0;
}