@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.header {
  text-align: left;
  color: #6c6c6c;
  position: absolute;
  left: 28%;
  top: 15%;
  
}

.header h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 42px;
  letter-spacing: 2px;
}

.header h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

.levels {
  display: flex;
  gap: 2px;
  margin-top: 60px;
}

.levels:first-child {
  border-radius: 8px 0 0 8px;
}

.levels:last-child {
  border-radius: 0 8px 8px 0;
}

.levels:not(:last-child) {
  border-right: none;
}

.btn-level {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f0f0;
  border: 1px solid #f7f0f0;
  height: 18px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #666;
  cursor: pointer;
}

.btn-level:first-child {
  border-radius: 3px 0 0 3px;
}

.btn-level:last-child {
  border-radius: 0 3px 3px 0;
}

.btn-level:not(:last-child) {
  border-right: none;
}

.btn-level.active {
  background: linear-gradient(to bottom, #5b9fed, #3d88e5);
  color: white;
  background: linear-gradient(to bottom, #5b9fed, #3d88e5);
  z-index: 1;
}

.filter-btns {
  display: flex;
  align-items: center;
  gap: 0;
  position: absolute;
  top: 140px;
}

.filter-show {
  color: #888;
  font-size: 14px;
  font-weight: 600;
  margin-right: 15px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-family: "Nunito", sans-serif;
  font-weight: 900;
}

.filter-btn {
  padding: 1px 18px;
  border: 1px solid #ccc;
  background: white;
  color: #666;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  border-right: none;
  font-family: "Nunito", sans-serif;
  font-weight: 800;
}

.filter-btn:first-of-type {
  border-radius: 4px 0 0 4px;
}

.filter-btn:last-of-type {
  border-radius: 0 4px 4px 0;
  border-right: 1px solid #ccc;
}

.filter-btn:hover:not(.active) {
  background: #f8f8f8;
}

.filter-btn.active {
  background: linear-gradient(to bottom, #5b9fed, #3d88e5);
  color: white;
  border: 1px solid #3d88e5;
  font-weight: 600;
}


@media screen and (max-width: 1920px) and (max-height:1080px) {
  .filter-btns {
    position: absolute;
    right: 70px;
  }
}