html {
  scroll-behavior: smooth;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.TeacherDashboard {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.TopLink button {
  position: relative;
  top: 500px;
  left: 1150px;
  height: 35px;
  width: 200px;
  background-color: #e5ab2c;
  border: 1px solid #e5ab2c;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}

.BackToDash button {
  position: relative;
  top: 500px;
  left: 1220px;
  height: 35px;
  width: 250px;
  color: white;
  background-color: #f91c85;
  border: 1px solid #f91c85;
  border-radius: 5px;
  font-weight: bold;
  font-size: large;
  cursor: pointer;
}
